// Font
$fontFamily: 'Open sans', sans-serif !default;

// Colors
$gray: #6c757d !default;
$lightGray: #bababa !default;
$dark: #222222 !default;
$blue: #1569f9 !default;
$white: #ffffff !default;
$black: #000000 !default;
